[submodule "custom-zsh/plugins/zsh-completions"]
	path = custom-zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "custom-zsh/plugins/zsh-syntax-highlighting"]
	path = custom-zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "custom-zsh/themes/powerlevel10k"]
	path = custom-zsh/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
