[user]
	name = Andrii Sergiienko
	email = andrey.sergienko@gmail.com

[github]
  user = fycth

[alias]
  br = branch
  cb = "!sh -c 'git branch $1 && git ch $1' -"
  ctb = "!sh -c 'git cb topics/$1' -"

  ci = commit
  ch = checkout
  fc = commit -am 'Initial commit.'
  cpush = "!sh -c 'git commit -au -m \"$1\" && git push -u origin' -"
  d = diff
  st = status --short

  graph = log --graph
  last = log -n 10
  url = !git remote -v|sed "'s|.*git[:@]\\(.*\\).git.*|http://\\1|;s|m:|m/|'"|uniq|xargs open
  whois = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"
  discard = checkout -- .
  rmtag = "!sh -c 'git tag -d $1; git push origin :refs/tags/$1'"

  changelog = !sh "$HOME/dotfiles/git-extras/git-changelog.sh"

  pr = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1; } ; f"

[push]
  default = current

[color]
  ui = true

[core]
  editor = vim
  excludesfile = ~/.gitignore

[format]
  pretty = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
  graph = true

[advice]
  statusHints = false

[log]
  abbrevCommit = true

[mergetool]
	keepBackup = false
[init]
	templatedir = ~/.git_template
[ghi]
	token = !security find-internet-password -a fycth -s github.com -l 'ghi token' -w
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
